//Competences
#competences{
    width: 100%;
    min-height: 100vh;
    background-color: $colorBackground_1 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    position: relative;
    h2{
        position: absolute;
        top: 10vh;
        left: 25vw;
        transition: color .3s ease-out;
        &:hover{
           color: $colorMediumGreen; 
        } 
    }
    h3{
        font-family: 'Mulish', sans-serif;
    }
    .competences--paragraphs{
        padding-left: 5vw ;
        font-size: 25px;
        width: 50vw;
        text-align: center;
        padding-bottom: 5vh;
    }
    .competences--firstParagraph{
        padding-top: 20vh;
    }
    .compentences--hardSkills{
        display: flex;
        align-items: center;
        padding-bottom: 5vh;
        flex-wrap: wrap;
    }
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        span{
            text-align: center;
        }
    }
    .compentences--softSkills{
        display: flex;
        flex-direction: row;

    }
    .compentences--softSkills li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        img{
            width: 100px;
            margin-right: 10px;
        }
    }
}
@media screen and (max-width: 599px) {
    #competences{ 
        h2{
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        }
        .competences--paragraphs{
            font-size: 18px;
            width: 80vw;
            margin-top: 10px;
            word-spacing: .1rem;
            text-align: justify;
        }
        .compentences--hardSkills{
            justify-content: center;
        img{
            width: 100px;
        }
        }
        .compentences--softSkills{
            flex-direction: column;
            align-items: flex-start;
            width: 100vw;
            .compentences--softSkills li{
                padding: 0;
                img{
                    width: 75px;
                }
            }
            
        }
    }
    
}