//Competences
#competences{
    width: 100%;
    min-height: 100vh;
    background-color: $colorBackground_1 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include backgroundIcon;
    background-position: center left;
    h2{
        @include h2;
    }
    h3{
        font-family: 'Mulish', sans-serif;
        @include mobile-only{
            text-align: center;
        }
    }
    .competences--articles{
        padding: 300px 0 40px 0;
        font-size: 25px;
        max-width: 50vw;
        text-align: center;
        padding-bottom: 5vh;
        :nth-child(1){
            padding-bottom: 40px;
        }
        @include mobile-only{
            padding: 150px 0 40px 0;
            font-size: 18px;
            max-width: 80vw;
            margin-top: 10px;
            word-spacing: .1rem;
            line-height: 1.5rem;
        }
        @include tablettes-only{
            text-align: left;
            width: 80vw;
        }
    }
    .compentences--hardSkills{
        display: flex;
        align-items: center;
        padding:0 0 5vh 0;
        flex-wrap: wrap;
        width: 40vw;
        justify-content: space-evenly;
        @include mobile-only{
            justify-content: center;
            padding-left: 0;
        }
        img{
            width: 150px;
            @include mobile-only{
                width: 100px;
                margin: 10px;
            }
            @include tablettes-only{
                width: 85px;
                margin: 10px
            }
        }
    }
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        span{
            text-align: center;
            display: inline-block;
            font-size: 25px;
            @include mobile-only{
                font-size: 18px;
            }
        }
    }
    .compentences--softSkills{
        display: flex;
        flex-direction: row;
        padding: 0;
        @include mobile-only{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
        @include tablettes-only{
            flex-direction: column;
            align-items: left;
            justify-content : center;
            width: 100%;
        }
    }
    .compentences--softSkills li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        @include mobile-only{
            padding: 0;
        }
        @include tablettes-only{
            justify-content: left;
            margin-left: 30%;
        }
        img{
            width: 100px;
            margin-right: 10px;
            @include mobile-only{
                width: 75px;
            }

        }
    }
}