@mixin fontTitle{
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
};
@mixin tablettes-only { 
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width : map-get($breakpoints, desktop)) { 
      @content 
    } 
  };

@mixin mobile-only { 
    @media screen and (max-width : map-get($breakpoints, mobile)) { 
      @content 
    } 
  };

  @mixin afterBar{
    &::after{
      content: '';
      width: 0;
      height: 3px;
      position: absolute;
      background-color: $colorMediumGreen;
      bottom: -20px;
      left: 0;
      transition: all .4s ease-out;
      @include mobile-only{
        left: 50%;
        transform: translateX(-50%);
        
    }
    }
  }