//services
#services{
    width: 100%;
    min-height: 100vh;
    background-color: $colorBackground-1 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .cubicshapes{
        position: absolute;
        left: -200px;
        top: 40%;
        transform-origin: 50% 50%;
        transform: rotate(0) scale(1);
        animation: cubicRotate 40s linear infinite backwards;
        @include mobile-only{
            width: 150px;
            left: -75px;
            top: 20%;
        }
    }
    h2{
        top: 100px;
        position: absolute;
        left: 300px;
        transition: color .3s ease-out;
        @include afterBar;
        &:hover{
           color: $colorMediumGreen; 
        }
        &:hover::after{
            width: 90px;
        } 
        @include mobile-only{
            left: 50%;
            transform: translateX(-50%);
            top: 100px;
        }
        @include tablettes-only{
            left: 10%;
        }
    }
}
.services--logos{
    display: flex;
    justify-content: center;
    padding-top: 200px;
    width: 80vw;
    flex-wrap: wrap;
    @include mobile-only{
        width: 100%;
        padding-top: 200px;
    }
    @include tablettes-only{
        width: 100%;
    }
    .logoContent{
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        perspective: 1000px;
        transform-style: preserve-3d;
        @include mobile-only{
            padding: 0 10px;
            width: 50%;
        }
        @include tablettes-only{
            padding: 0 10%;
        }
        .service--icons{
            transform-origin: 50% 50%;
            transform : rotate(0);
            animation: iconsRotate ease-in-out 10s infinite forwards;
        }
    }
    p{
        text-align: center;
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
        @include mobile-only{
            font-size: 14px;
            text-align: start;
        }
    }
    img{
        width : 120px;
        @include mobile-only{
            width: 60px;
        }
    }
}
.services--description{
    padding-top: 100px;
    z-index: 1000;
    p{
        max-width: 40vw;
        font-size: 25px;
        color : $colorText_2;
        @include mobile-only{
            padding: 20px 0 40px 0;
            max-width: 80vw;
            margin: 0 20px;
            font-size: 18px;
            word-spacing: .1rem;
            line-height: 1.5rem;
        }
        @include tablettes-only{
            max-width: 80vw;
        }
    }
    span{
        @include mobile-only{
            display: none;
        }
    }
}
.services--shortDescription{
    display: flex;
    padding-bottom: 100px;
    margin: auto;
    @include mobile-only{
        flex-direction: column;
    }
    @include tablettes-only{
        flex-direction: column;
    }
    .bigNumber::-webkit-scrollbar, h4::-webkit-scrollbar, p::-webkit-scrollbar{
        display: none;
    }
    .shortDescription--containerWrapper{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow-x: hidden;


        .services--shortDescription__container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            width: 10vw;
            min-width: 250px;
            height: 350px;
            margin-top: 7vh;

            .bigNumber{
                color : $colorText_2;
                font-size: 140px;
                position: absolute;
                top: -230px;
                left: -60px;
                font-family: 'Mulish', sans-serif;
                font-weight: 900;
            }
            h3, p{
                padding: 0 20px;
                overflow: scroll;
            }
            h3{
                padding-top: 25%;
                font-family: 'Mulish', sans-serif;
            }
        }
        .container1{
            background-color: $colorDarkGreen;
        }
        .container2{
            background-color: $colorMediumGreen;
        }
        .container3{
            background-color: $colorLightGreen;
        }
        .container4{
            background-color: $colorDarkGreen;
        }
    }
    
}
@keyframes cubicRotate {
    0%{
        transform: rotate(0) scale(1);
    }
    50%{
        transform: rotate(-180deg)  scale(1.4);
    }
    100%{
        transform: rotate(-360deg) scale(1);
    }
}
@keyframes iconsRotate {
    0%{
        transform : rotateY(0);
    }
    50%{
        transform : rotateY(180deg);
    }
    100%{
        transform : rotateY(0);
    }
}