// Testimonial
#testimonial{
    width: 100%;
    min-height: 50vh;
    background-color: $colorBackground_2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h2{
        position: absolute;
        top: 100px;
        left: 300px;
        transition: color .3s ease-out;
        @include afterBar;
        @include mobile-only{
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
        @include tablettes-only{
            left: 10%;
        }
        &:hover{
           color: $colorMediumGreen; 
        } 
        &:hover::after{
            width: 90px;
        } 
    }
    p{
        padding-top: 300px;
        padding-left: 5vw ;
        font-size: 25px;
        max-width: 40vw;
        text-align: center;
        padding-bottom: 20px;
        @include mobile-only{
            font-size: 18px;
            width: 80vw;
            max-width: 80vw;
            word-spacing: .1rem;
            text-align: justify;
            padding-left: 0;
        }
        @include tablettes-only{
            max-width: 80vw;
            text-align: left;
            padding-bottom: 20px;
        }
    }
    .testimonial--quote{
        margin: 0 20vw;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        @include mobile-only{
            flex-direction: column;
            width: 100vw;
            align-items: flex-start;
        }
        @include tablettes-only{
            flex-wrap: nowrap;
            width: 100vw;
            align-items: flex-start;
            margin-top: 20px;
        }
        .testimonial--quote1, .testimonial--quote2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 40px 20px 40px; 
            width: 40%;
            min-height: 30vh;
            opacity: 0;
            transition: all 3s ease-out;
            @include mobile-only{
                width: 100%;
            }
            @include tablettes-only{
                width: 100%;
                padding-bottom: 60px;
            }
            .quote--link{
                padding-left: 5vw;
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                justify-content: content;
                align-items: center;
            }   
            cite{
                font-family: 'Mulish', sans-serif;
                font-weight: 400;
                font-size: 21px;
                position: relative;
                text-align: center;
                width: 80%;
                @include mobile-only{
                    width: 100%;
                    font-size: 20px;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 3vw;
                    position: absolute;
                    border-bottom: 1px solid $colorDarkGreen;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            p{
                max-width: 20vw;
                font-style: italic;
                line-height: 1.5em;
                font-size: 20px;
                display: block;
                position: relative;
                padding: 0;
                @include mobile-only{
                    width: 100vw;
                    max-width: 80vw;
                    word-spacing: .1rem;
                }
                &::before{
                    content: '"';
                    display: block;
                    font-size: 40px;
                    position: absolute;
                    top: -20px;
                    left: -30px;
                    font-family: Trebuchet;
                    font-weight: 900;
                }
                &::after{
                    content: '"';
                    display: block;
                    font-size: 40px;
                    position: absolute;
                    bottom: -20px;
                    right: -20px;
                    font-family: Trebuchet;
                    font-weight: 900;
                }
            }
        }
        .testimonial--quote1{
            transform: translateX(-9999px);
        } 
        .testimonial--quote2{
            transform: translateX(9999px);
        }
    }
}
.mockup{
    position: absolute;
    top: -133px;
    right: 0;
    padding-right: 30px;

    @include mobile-only{
        right: 0;
        width: 160px;
        height: auto;
        padding: 0 10px;
        top: -50px;
    }
}
