$colorBackground-1 : #10141B;
$colorBackground_2 : #1B212C;
$colorNavOnScroll : #151C28;
$colorCardBackground : #1d3152;
$colorOverlay : #1d3152;
$colorBlueTransparent : #1d3152a2;
$colorText : #F1F1F1;
$colorText_2 : #CFD6E3;
$colorDarkGreen : #195926;
$colorMediumGreen : #2B9941;
$colorLightGreen : #36C252;