#hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/header.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#hero .hero--overlay {
  position: absolute;
  background-color: #1d3152;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
}
#hero h1 {
  display: block;
  position: absolute;
  max-width: 500px;
  left: 10%;
  top: 40%;
  transform: translateY(-50%);
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  opacity: 1;
}

.desktop--nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: all 200ms ease-out;
}
.desktop--nav .nav--logo img {
  width: 100px;
  top: 0;
  left: 20vw;
  position: absolute;
  z-index: 2000;
}
.desktop--nav .nav--menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 200ms ease-in;
}
.desktop--nav .nav--menu a {
  text-decoration: none;
  padding: 0 20px;
  color: #F1F1F1;
  font-size: 20px;
}
.desktop--nav .nav--menu .isVisible {
  color: #36C252;
  font-weight: bold;
}

.isFixed {
  position: fixed;
  top: 0;
  background-color: rgba(29, 49, 82, 0.8980392157);
  z-index: 1000;
  transition: all 200ms ease-in;
}

.navTransition {
  transform: scale(0.9);
}

.hero--submenu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -75px;
  width: 60vw;
  min-height: 150px;
}
.hero--submenu .hero--submenu__container {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero--submenu .hero--submenu__container h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Mulish", sans-serif;
}
.hero--submenu .hero--submenu__container a {
  text-decoration: none;
  color: #F1F1F1;
  font-size: 20px;
  text-align: center;
}
.hero--submenu .hero--submenu__project {
  background-color: #195926;
}
.hero--submenu .hero--submenu__about {
  background-color: #2B9941;
}

.mobile--menu__icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  padding: 20px;
  z-index: 2000;
  position: relative;
}

.mobile--menu__icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s linear;
  z-index: 2000;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #F1F1F1;
  height: auto;
}

.mobile--nav {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 50px);
  width: 100%;
}
.mobile--nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 20px;
}

@media screen and (max-width: 599px) {
  .hero--submenu {
    width: 100%;
  }
  .hero--submenu .hero--submenu__container h3 {
    margin-top: 20px;
    font-size: 20px;
  }
  .hero--submenu .hero--submenu__container a {
    margin: 15px;
    font-size: 18px;
  }

  #hero h1 {
    top: 20%;
    padding: 20px;
    left: 0;
    transform: translateY(0%);
  }

  .desktop--nav, .nav--logo, .nav--menu {
    display: none;
  }

  .mobile--menu__icon {
    display: block;
  }
}
#services {
  width: 100%;
  min-height: 100vh;
  background-color: #10141B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#services h2 {
  padding-top: 15vh;
  position: absolute;
  left: 25vw;
  transition: color 0.3s ease-out;
}
#services h2:hover {
  color: #2B9941;
}

.services--logos {
  display: flex;
  justify-content: center;
  padding-top: 25vh;
  width: 80vw;
  flex-wrap: wrap;
}
.services--logos .logoContent {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services--logos p {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
}
.services--logos img {
  width: 120px;
}

.services--description {
  padding-top: 5vh;
}
.services--description p {
  max-width: 40vw;
  font-size: 25px;
  color: #CFD6E3;
}

.services--shortDescription {
  display: flex;
  padding-bottom: 10vh;
  margin: auto;
}
.services--shortDescription .shortDescription--containerWrapper {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
}
.services--shortDescription .shortDescription--containerWrapper .services--shortDescription__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 10vw;
  min-width: 250px;
  height: 350px;
  margin-top: 7vh;
}
.services--shortDescription .shortDescription--containerWrapper .services--shortDescription__container .bigNumber {
  color: #CFD6E3;
  font-size: 140px;
  position: absolute;
  top: -230px;
  left: -60px;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}
.services--shortDescription .shortDescription--containerWrapper .services--shortDescription__container h4, .services--shortDescription .shortDescription--containerWrapper .services--shortDescription__container p {
  padding: 0 20px;
  overflow: scroll;
}
.services--shortDescription .shortDescription--containerWrapper .services--shortDescription__container h4 {
  padding-top: 25%;
  font-family: "Mulish", sans-serif;
}
.services--shortDescription .shortDescription--containerWrapper .container1 {
  background-color: #195926;
}
.services--shortDescription .shortDescription--containerWrapper .container2 {
  background-color: #2B9941;
}
.services--shortDescription .shortDescription--containerWrapper .container3 {
  background-color: #36C252;
}
.services--shortDescription .shortDescription--containerWrapper .container4 {
  background-color: #195926;
}

@media screen and (max-width: 599px) {
  #services h2 {
    left: 50%;
    transform: translateX(-50%);
  }

  .services--description p {
    max-width: 80vw;
    padding: 0 20px;
    font-size: 18px;
    word-spacing: 0.1rem;
    text-align: justify;
  }

  .services--shortDescription {
    flex-direction: column;
  }

  .services--logos {
    width: 100%;
  }

  .logoContent {
    flex-direction: row;
    padding: 0 10px;
    width: 50%;
  }
  .logoContent p {
    font-size: 14px;
    text-align: start;
  }
  .logoContent img {
    width: 60px;
  }
}
#portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: #1B212C;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#portfolio h2 {
  top: 10vh;
  position: absolute;
  left: 25vw;
  transition: color 0.3s ease-out;
}
#portfolio h2:hover {
  color: #2B9941;
}
#portfolio p {
  padding-top: 20vh;
  font-size: 25px;
  max-width: 40vw;
  text-align: center;
}

.portfolio--slider {
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 50vw;
  height: 30vw;
  position: relative;
}
.portfolio--slider .portfolio--slider__imgs {
  width: 100%;
  height: 100%;
}
.portfolio--slider .portfolio--slider__imgs .img--isActive {
  opacity: 1;
}
.portfolio--slider .portfolio--slider__imgs img {
  width: 50vw;
  height: 30vw;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.portfolio--slider .portfolio--slider__legends {
  width: 100%;
  height: 100px;
  background-color: rgba(25, 89, 38, 0.8235294118);
  position: absolute;
  bottom: 40px;
}
.portfolio--slider .portfolio--slider__legends .slider--legend {
  position: absolute;
  padding-left: 20px;
  color: #F1F1F1;
  bottom: 10px;
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.portfolio--slider .portfolio--slider__legends .slider--legend__isActive {
  opacity: 1;
}
.portfolio--slider .portfolio--slider__controls button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: #195926;
}
.portfolio--slider .portfolio--slider__controls button img {
  width: 20px;
}
.portfolio--slider .button--left {
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.portfolio--slider .button--right {
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.portfolio--slider .portfolio--slider__indexes {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio--slider .portfolio--slider__indexes .sliderIndex--isActive {
  background-color: #36C252;
}
.portfolio--slider .portfolio--slider__indexes button {
  width: 3vw;
  height: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin: 0 10px;
  border: 1px solid black;
}

.portfolio--cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  margin: 0 5vw 200px 5vw;
}

.portfolio--cards__wrapper {
  height: 40vh;
  width: 33%;
  margin: 10vh 2vw;
}

.card--number {
  position: absolute;
  transition: all 200ms ease-out;
  background-color: rgba(51, 51, 51, 0.671);
  width: 40px;
  height: 70px;
  clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 50% 85%, 0% 100%);
  right: 15px;
  z-index: 4;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.portfolio--card img {
  max-width: 250px;
  border-radius: 5px;
  transition: all 300ms ease-out;
  transform: scale(1);
  z-index: 3;
}
.portfolio--card .card--number {
  position: absolute;
}
.portfolio--card:hover .card--img {
  transform: translateY(-20%) scale(0.9);
}
.portfolio--card:hover .card--front {
  display: none;
}
.portfolio--card:hover .portfolio--card__bg {
  transform: scale(1.3, 0.8);
}
.portfolio--card:hover .card--back {
  opacity: 1;
  position: relative;
  transform: translateY(-60%);
}
.portfolio--card:hover .card--number {
  transform: translateX(110%) translateY(85%);
}

.card--front {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateY(0);
  width: 250px;
}

.card--front__name {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

.card--front__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}
.card--front__details .card--front__date {
  font-size: 16px;
}
.card--front__details .card--front__techno img {
  width: 30px;
}

.card--back {
  opacity: 0;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.card--back .card--back__name {
  padding: 10px 0;
  font-weight: 700;
  text-align: center;
}

.back--details {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.back--details .categorie--detail {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
}
.back--details .categorie--name {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}
.back--details .back-details__date {
  width: 100%;
}
.back--details .back-details__Categorie {
  z-index: 3;
  width: 100%;
  min-height: 100px;
}
.back--details .back-details__Categorie:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 60px;
  background-color: rgba(241, 241, 241, 0.4666666667);
}

.back--link {
  padding: 10px 20px;
  text-decoration: none;
  color: #f1f1f1;
  border-radius: 5px;
  background-color: #2B9941;
  margin: 20px 0;
}

.portfolio--card__bg {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #10141B;
  z-index: 1;
  transform: scale(1, 1);
  min-width: 250px;
}

@media screen and (max-width: 599px) {
  #portfolio h2 {
    left: 50%;
    transform: translateX(-50%);
  }

  #portfolio p {
    max-width: 80vw;
    margin: 0 20px;
    font-size: 18px;
    word-spacing: 0.1rem;
    text-align: justify;
  }

  .portfolio--slider {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .portfolio--slider .portfolio--slider__legends {
    bottom: -40vw;
    height: 50px;
  }
  .portfolio--slider .portfolio--slider__legends .slider--legend {
    font-size: 25px;
  }

  #portfolio .portfolio--slider__imgs img {
    width: 100vw;
    min-height: 75vw;
    height: 75vw;
  }

  #portfolio .portfolio--slider__controls button {
    width: 40px;
    height: 40px;
    top: 100%;
  }
  #portfolio .portfolio--slider__controls button img {
    width: 25px;
    height: 25px;
  }

  .portfolio--cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    margin: 0;
  }

  .portfolio--cards__wrapper {
    margin: 140px 0 0 0;
    width: 100%;
  }

  .portfolio--slider__indexes {
    display: none;
  }

  .portfolio--card img {
    max-width: 125px;
    position: absolute;
    top: -20%;
  }
  .portfolio--card:hover .card--img {
    transform: none;
  }
  .portfolio--card:hover .card--back {
    position: none;
    transform: none;
  }
  .portfolio--card:hover .portfolio--card__bg {
    transform: none;
  }
  .portfolio--card:hover .card--number {
    transform: none;
  }

  .card--front {
    display: none;
  }

  .card--back {
    opacity: 1;
    position: relative;
    margin-top: 120px;
  }

  .portfolio--card__bg {
    height: 300px;
  }

  .back-details__Categorie {
    min-height: 40px;
  }

  .back--link {
    margin: 10px 0;
  }
}
#testimonial {
  width: 100%;
  min-height: 50vh;
  background-color: #1B212C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#testimonial h2 {
  position: absolute;
  top: 10vh;
  left: 25vw;
  transition: color 0.3s ease-out;
}
#testimonial h2:hover {
  color: #2B9941;
}
#testimonial p {
  padding-top: 20vh;
  padding-left: 5vw;
  font-size: 25px;
  max-width: 40vw;
  text-align: center;
  padding-bottom: 5vh;
}
#testimonial .testimonial--quote {
  margin: 0 20vw;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#testimonial .testimonial--quote .testimonial--quote1, #testimonial .testimonial--quote .testimonial--quote2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  width: 40%;
  min-height: 30vh;
}
#testimonial .testimonial--quote .testimonial--quote1 .quote--link, #testimonial .testimonial--quote .testimonial--quote2 .quote--link {
  padding-left: 5vw;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: content;
  align-items: center;
}
#testimonial .testimonial--quote .testimonial--quote1 h4, #testimonial .testimonial--quote .testimonial--quote2 h4 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 25px;
  position: relative;
  text-align: center;
  width: 80%;
}
#testimonial .testimonial--quote .testimonial--quote1 h4::after, #testimonial .testimonial--quote .testimonial--quote2 h4::after {
  content: "";
  display: block;
  width: 3vw;
  position: absolute;
  border-bottom: 1px solid #195926;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
#testimonial .testimonial--quote .testimonial--quote1 p, #testimonial .testimonial--quote .testimonial--quote2 p {
  max-width: 20vw;
  font-style: italic;
  line-height: 1.5em;
  font-size: 20px;
  display: block;
  position: relative;
  padding: 0;
}
#testimonial .testimonial--quote .testimonial--quote1 p::before, #testimonial .testimonial--quote .testimonial--quote2 p::before {
  content: '"';
  display: block;
  font-size: 40px;
  position: absolute;
  top: -20px;
  left: -30px;
  font-family: Trebuchet;
  font-weight: 900;
}
#testimonial .testimonial--quote .testimonial--quote1 p::after, #testimonial .testimonial--quote .testimonial--quote2 p::after {
  content: '"';
  display: block;
  font-size: 40px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  font-family: Trebuchet;
  font-weight: 900;
}

.mockup {
  position: absolute;
  top: -133px;
  right: 0;
  padding: 0 10vw;
}

@media screen and (max-width: 599px) {
  .mockup {
    position: absolute;
    right: 0;
    width: 250px;
    height: auto;
  }

  #testimonial p {
    font-size: 18px;
    width: 80vw;
    max-width: 80vw;
    word-spacing: 0.1rem;
    text-align: justify;
    padding-left: 0;
  }
  #testimonial h2 {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  #testimonial .testimonial--quote {
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
  }
  #testimonial .testimonial--quote p {
    width: 100vw;
    max-width: 100vw;
  }
  #testimonial .testimonial--quote .testimonial--quote1, #testimonial .testimonial--quote .testimonial--quote2 {
    width: 100%;
  }
  #testimonial .testimonial--quote .testimonial--quote1 p, #testimonial .testimonial--quote .testimonial--quote2 p {
    max-width: 80vw;
    word-spacing: 0.1rem;
  }
  #testimonial .testimonial--quote .testimonial--quote1 h4, #testimonial .testimonial--quote .testimonial--quote2 h4 {
    width: 100%;
    font-size: 20px;
  }
}
#competences {
  width: 100%;
  min-height: 100vh;
  background-color: #10141B;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#competences h2 {
  position: absolute;
  top: 10vh;
  left: 25vw;
  transition: color 0.3s ease-out;
}
#competences h2:hover {
  color: #2B9941;
}
#competences h3 {
  font-family: "Mulish", sans-serif;
}
#competences .competences--paragraphs {
  padding-left: 5vw;
  font-size: 25px;
  width: 50vw;
  text-align: center;
  padding-bottom: 5vh;
}
#competences .competences--firstParagraph {
  padding-top: 20vh;
}
#competences .compentences--hardSkills {
  display: flex;
  align-items: center;
  padding-bottom: 5vh;
  flex-wrap: wrap;
}
#competences li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#competences li span {
  text-align: center;
}
#competences .compentences--softSkills {
  display: flex;
  flex-direction: row;
}
#competences .compentences--softSkills li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#competences .compentences--softSkills li img {
  width: 100px;
  margin-right: 10px;
}

@media screen and (max-width: 599px) {
  #competences h2 {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  #competences .competences--paragraphs {
    font-size: 18px;
    width: 80vw;
    margin-top: 10px;
    word-spacing: 0.1rem;
    text-align: justify;
  }
  #competences .compentences--hardSkills {
    justify-content: center;
  }
  #competences .compentences--hardSkills img {
    width: 100px;
  }
  #competences .compentences--softSkills {
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
  }
  #competences .compentences--softSkills .compentences--softSkills li {
    padding: 0;
  }
  #competences .compentences--softSkills .compentences--softSkills li img {
    width: 75px;
  }
}
#form {
  width: 100%;
  min-height: 100vh;
  background-color: #10141B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 15vh;
}
#form h2 {
  position: absolute;
  top: 10vh;
  left: 25vw;
  transition: color 0.3s ease-out;
}
#form h2:hover {
  color: #2B9941;
}
#form .form--paragraphs {
  padding-left: 5vw;
  font-size: 25px;
  width: 50vw;
  text-align: center;
  padding-bottom: 5vh;
}
#form .form--firstParagraph {
  padding-top: 20vh;
}
#form .checkIcon {
  width: 30px;
  position: absolute;
  left: 31%;
  bottom: 38%;
  display: none;
  transition: 0.2s ease-out;
}
#form form {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 40vw;
}
#form form .formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  margin-top: 10px;
  width: fit-content;
}
#form form fieldset {
  border-color: #195926;
}
#form form legend {
  background-color: #2B9941;
  padding: 15px;
  border-radius: 5px;
  font-family: "Mulish", sans-serif;
}
#form form label {
  font-size: 18px;
  padding: 15px 0 0 15px;
}
#form form input, #form form textarea {
  width: 30%;
  max-width: 80%;
  height: 45px;
  background-color: #1B212C;
  border: none;
  border-bottom: 1px solid #195926;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}
#form form input:not(:focus):invalid {
  border: 1px solid rgba(196, 10, 10, 0.998);
}
#form form input:focus, #form form #messageinput:focus, #form form textarea {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}
#form form .required {
  color: rgba(196, 10, 10, 0.998);
  font-size: 16px;
  position: relative;
  font-family: "Mulish", sans-serif;
  opacity: 0;
}
#form form #messageInput {
  height: 200px;
  width: 100%;
  border-bottom: none;
  font-family: "Tinos", serif;
}
#form form #messageLabel {
  opacity: 0;
}
#form form .dataProtect--Container {
  display: flex;
}
#form form #dataProtectLabel {
  bottom: 25px;
  left: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
#form form #dataProtect {
  width: 20px;
  position: relative;
}
#form form .dataProtect--details {
  max-width: 150px;
  font-size: 14px;
  text-align: left;
  display: block;
  padding-left: 10px;
}
#form button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  margin-top: 1vh;
  width: 250px;
  height: 80px;
  color: white;
  background-color: #36C252;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease-out;
}
#form button:hover {
  background-color: #2B9941;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 0 10vw;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.contactDetails .contactDetails--wrapper {
  position: relative;
  margin: 15px 0;
}
.contactDetails .contactDetails--logo {
  border: 4px solid #195926;
  border-radius: 50%;
  background-color: #10141B;
  position: absolute;
  left: -30px;
  top: -10px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactDetails .contactDetails--logo img {
  width: 30px;
}
.contactDetails .contactDetails--details {
  border-radius: 5px;
  border: 4px solid #195926;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.contactDetails .contactDetails--details span, .contactDetails .contactDetails--details a {
  background-color: #195926;
  display: block;
  border-radius: 5px;
  padding: 3px 10px 3px 40px;
  margin-right: 5px;
  min-width: 260px;
  text-align: center;
  text-decoration: none;
  color: #f1f1f1;
}

@media screen and (max-width: 599px) {
  #form h2 {
    padding: 0;
    left: 0;
    text-align: center;
    position: relative;
  }
  #form .form--paragraphs {
    font-size: 18px;
    width: 80vw;
    max-width: 80vw;
    word-spacing: 0.1rem;
    text-align: justify;
    padding-left: 0;
  }
  #form .contactDetails {
    position: relative;
    padding: 20px 0 0 0;
  }
  #form .form--firstParagraph {
    padding: 30px 0 0 0;
  }
  #form form input, #form form textarea {
    width: 80vw;
    max-width: 100%;
  }
  #form form .formContainer {
    width: 100%;
  }
  #form .checkIcon {
    width: 30px;
    position: absolute;
    left: 75%;
    bottom: 48%;
    transition: 0.2s ease-out;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Tinos", serif;
  color: #F1F1F1;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

footer {
  width: 100%;
  min-height: 10vh;
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer--legalterms {
  padding-left: 10px;
  color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
